<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xpu.cs.lovexian.app.appadmin.mapper.GatewayDtuAdminMapper">
    <resultMap id="gatewayDtu" type="edu.xpu.cs.lovexian.app.appadmin.entity.AdminGatewayDtu">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <id column="gateway_id" jdbcType="VARCHAR" property="gatewayId"/>
        <id column="dtu_id" jdbcType="VARCHAR" property="dtuId"/>
        <!--<collection property="adminDtuses" ofType="AdminDtus">
            <id column="dtu_id" property="dtuId"/>
            <id column="dtu_name" property="dtuName"/>
            <id column="dtu_type" property="dtuType"/>
            <id column="longitude" property="longitude"/>
            <id column="latitude" property="latitude"/>
            <id column="status" property="status"/>
        </collection>-->
    </resultMap>
    <select id="selectGatewayDtu" resultType="edu.xpu.cs.lovexian.app.appadmin.entity.AdminGatewayDtu">
        select
        d.dtu_name,
        d.longitude,
        d.latitude,
        d.desc_info,
        d.dtu_type,
        d.status,
        d.created_at,
        d.updated_at,

        gd.id,
        gd.gateway_id,
        gd.dtu_id
        from
        gateway_dtu gd
        join dtus d on (gd.dtu_id = d.dtu_id )
        <where>
            gd.gateway_id= #{gateId}
           <!-- <if test="adminGatewayDtu.dtuId!=null and adminGatewayDtu.dtuId!=''">
                AND d.dtu_id = #{adminGatewayDtu.dtuId}
            </if>
            <if test="adminGatewayDtu.dtuName!=null and adminGatewayDtu.dtuName!=''">
                AND d.dtu_name = #{adminGatewayDtu.dtuName}
            </if>
            <if test="adminGatewayDtu.status!=null">
                AND d.status = #{adminGatewayDtu.status}
            </if>
            <if test="adminGatewayDtu.gatewayId!=null">
                AND gd.gateway_id= #{adminGatewayDtu.gatewayId}
            </if>-->
        </where>
        ORDER BY d.created_at DESC

    </select>
    <select id="selectDtusNotInGatewayDtu" resultType="edu.xpu.cs.lovexian.app.appadmin.entity.AdminGatewayDtu">
        select
            dtus. *
        from
            dtus
        where
            dtu_id not in (select dtu_id from gateway_dtu);
    </select>
    <select id="selectGatewaySettingId" resultType="String">
        select gateway_id
        from gateway_dtu
        where dtu_id like #{settingId}
    </select>

</mapper>
