<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xpu.cs.lovexian.app.appadmin.mapper.GatewayDtuAdminMapper">
    <resultMap id="gatewayDtu" type="edu.xpu.cs.lovexian.app.appadmin.entity.AdminGatewayDtu">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <id column="gateway_id" jdbcType="VARCHAR" property="gatewayId"/>
        <id column="dtu_id" jdbcType="VARCHAR" property="dtuId"/>
        <!--<collection property="adminDtuses" ofType="AdminDtus">
            <id column="dtu_id" property="dtuId"/>
            <id column="dtu_name" property="dtuName"/>
            <id column="dtu_type" property="dtuType"/>
            <id column="longitude" property="longitude"/>
            <id column="latitude" property="latitude"/>
            <id column="status" property="status"/>
        </collection>-->
    </resultMap>
    <select id="selectGatewayDtu" resultType="edu.xpu.cs.lovexian.app.appadmin.entity.AdminGatewayDtu" parameterType="edu.xpu.cs.lovexian.app.appadmin.entity.AdminGatewayDtu">
    SELECT g.gateway_id,d.dtu_id,d.dtu_name,d.dtu_type,d.created_at,d.updated_at,d.`status`
    FROM gateway_dtu g LEFT OUTER JOIN dtus d ON
     g.dtu_id = d.dtu_id
     where
     gateway_id = '西安';
    </select>

</mapper>
