<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xpu.cs.lovexian.app.appadmin.mapper.UnresovledDataMapper">
    <select id="getCount" resultType="int" >
        SELECT count(*)
        FROM A6_data
        <where>
            A6_data.setting_id=#{settingId}
        </where>
    </select>
    <select id="getMessage" resultType="String">
        select data
        From A6_data
        <where>
            A6_data.setting_id=#{settingId}
            limit 1
        </where>
    </select>
</mapper>